.ui-divider {
    display:inline-block; 
    vertical-align: middle; 
    text-align: center;
    line-height: 100%;
    margin:0 5px;
}
.ui-divider-line {
    width: 1px;
    height: 13px;
    background: #D8D8D8;
}